
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(img/home.jpeg)
    
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: 40px auto;
}

.left-panel, .right-panel {
    flex: 1;
    background: linear-gradient(135deg, #e7b1b1, #caecff);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.left-panel:hover, .right-panel:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 26px;
    color: #2d3436;
    margin-bottom: 20px;
}

button {
    padding: 12px 30px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg, #3c0df8, #feb47b);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(135deg, #e4092a, #8d0ee2);
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #15363e;
    color: #fff;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}

/* Responsif */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    h2 {
        font-size: 22px;
    }

    button {
        font-size: 16px;
    }
}











